<!DOCTYPE html>
<html lang="en" data-footer="true"
  data-override='{"attributes": {"placement": "vertical", "layout": "boxed" }, "storagePrefix": "ecommerce-platform"}'>

<head>
  <%- include('../includes/adminheader.ejs') %>
</head>

<body>
  <div id="root">
    <%- include('../includes/adminnav.ejs') %>

      <main>
        <div class="container">
          <!-- Title and Top Buttons Start -->
          <div class="page-title-container">
            <div class="row g-0">
              <!-- Title Start -->
              <div class="col-auto mb-3 mb-md-0 me-auto">
                <div class="w-auto sw-md-30">
                  <a href="#" class="muted-link pb-1 d-inline-block breadcrumb-back">
                    <i data-cs-icon="chevron-left" data-cs-size="13"></i>
                    <span class="text-small align-middle">Home</span>
                  </a>
                  <h1 class="mb-0 pb-0 display-4" id="title">Category List</h1>
                </div>
              </div>
              <!-- Title End -->

              <!-- Top Buttons Start -->
              <div class="w-100 d-md-none"></div>
              <div
                class="col-12 col-sm-6 col-md-auto d-flex align-items-end justify-content-end mb-2 mb-sm-0 order-sm-3">
                <a href="/admin/addcategory"><button type="button"
                  class="btn btn-outline-primary btn-icon btn-icon-start ms-0 ms-sm-1 w-100 w-md-auto">
                  <i data-cs-icon="plus"></i>
                  <span>Add Category</span>
                </button></a>
                <div class="dropdown d-inline-block d-lg-none">
                  <button type="button" class="btn btn-outline-primary btn-icon btn-icon-only ms-1"
                    data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
                    <i data-cs-icon="sort"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-end custom-sort">
                    <a class="dropdown-item sort" data-sort="name" href="#">Title</a>
                    <a class="dropdown-item sort" data-sort="email" href="#">Stock</a>
                    <a class="dropdown-item sort" data-sort="phone" href="#">Price</a>
                    <a class="dropdown-item sort" data-sort="group" href="#">Status</a>
                  </div>
                </div>
                <div class="btn-group ms-1 check-all-container-checkbox-click">
                  <div class="btn btn-outline-primary btn-custom-control p-0 ps-3 pe-2" data-target="#checkboxTable">
                    <span class="form-check float-end">
                      <input type="checkbox" class="form-check-input" id="checkAll" />
                    </span>
                  </div>
                  <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                    data-bs-offset="0,3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                  <div class="dropdown-menu dropdown-menu-end">
                    <button class="dropdown-item" id="deleteChecked" type="submit">Delete</button>
                  </div>
                </div>
              </div>
              <!-- Top Buttons End -->
            </div>
          </div>
          <!-- Title and Top Buttons End -->

          <!-- Controls Start -->
          <div class="row mb-2">
            <!-- Search Start -->
            <div class="col-sm-12 col-md-5 col-lg-3 col-xxl-2 mb-1">
              <div class="d-inline-block float-md-start me-1 mb-1 search-input-container w-100 shadow bg-foreground">
                <input class="form-control" placeholder="Search" />
                <span class="search-magnifier-icon">
                  <i data-cs-icon="search"></i>
                </span>
                <span class="search-delete-icon d-none">
                  <i data-cs-icon="close"></i>
                </span>
              </div>
            </div>
            <!-- Search End -->

            <div class="col-sm-12 col-md-7 col-lg-9 col-xxl-10 text-end mb-1">
              <div class="d-inline-block">
                <!-- Print Button Start -->
                <button class="btn btn-icon btn-icon-only btn-foreground-alternate shadow" data-bs-toggle="tooltip"
                  data-bs-placement="top" data-bs-delay="0" title="Print" type="button">
                  <i data-cs-icon="print"></i>
                </button>
                <!-- Print Button End -->

                <!-- Export Dropdown Start -->
                <div class="d-inline-block">
                  <button class="btn p-0" data-bs-toggle="dropdown" type="button" data-bs-offset="0,3">
                    <span class="btn btn-icon btn-icon-only btn-foreground-alternate shadow dropdown" data-bs-delay="0"
                      data-bs-placement="top" data-bs-toggle="tooltip" title="Export">
                      <i data-cs-icon="download"></i>
                    </span>
                  </button>
                  <div class="dropdown-menu shadow dropdown-menu-end">
                    <button class="dropdown-item export-copy" type="button">Copy</button>
                    <button class="dropdown-item export-excel" type="button">Excel</button>
                    <button class="dropdown-item export-cvs" type="button">Cvs</button>
                  </div>
                </div>
                <!-- Export Dropdown End -->

                <!-- Length Start -->
                <div class="dropdown-as-select d-inline-block" data-childSelector="span">
                  <button class="btn p-0 shadow" type="button" data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" data-bs-offset="0,3">
                    <span class="btn btn-foreground-alternate dropdown-toggle" data-bs-toggle="tooltip"
                      data-bs-placement="top" data-bs-delay="0" title="Item Count">
                      10 Items
                    </span>
                  </button>
                  <div class="dropdown-menu shadow dropdown-menu-end">
                    <a class="dropdown-item" href="#">5 Items</a>
                    <a class="dropdown-item active" href="#"> <%= category.length %> Items</a>
                    <a class="dropdown-item" href="#">20 Items</a>
                  </div>
                </div>
                <!-- Length End -->
              </div>
            </div>
          </div>
          <!-- Controls End -->

          <div class="row g-0">
            <div class="col-12 mb-5">
              <!-- List Items Start -->
              <div id="checkboxTable">
                <div class="mb-4 mb-lg-3 bg-transparent no-shadow d-none d-lg-block">
                  <div class="row g-0">
                    <div class="col-auto sw-11 d-none d-lg-flex"></div>
                    <div class="col">
                      <div class="ps-5 pe-4 h-100">
                        <div class="row g-0 h-100 align-content-center custom-sort">
                          <div class="col-6 col-lg-3 d-flex flex-column mb-lg-0 pe-3 d-flex">
                            <div class="text-muted text-small cursor-pointer sort" data-sort="name">TITLE</div>
                          </div>
                          
                          <div class="col-6 col-lg-2 d-flex flex-column pe-1 justify-content-center">
                            <div class="text-muted text-small cursor-pointer sort" data-sort="group">STATUS</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Items Container Start -->

                <% category.forEach(c=> { %>
                  <div class="card mb-2" style="height:100px">
                    <div class="row g-0 h-100 sh-lg-9 position-relative">
                      <a  href="/admin/edit-categorylist/<%= c._id %> " class="col-auto position-relative">
                        <img src="/<%= c.image %>" alt="product" class="card-img card-img-horizontal  sw-11"
                          style="height:100px;" />
                      </a>
                      <div class="col py-4 py-lg-0">
                        <div class="ps-5 pe-4 h-100">
                          <div class="row g-0 h-100 align-content-center">
                            <a href="/admin/edit-categorylist/<%= c.id %> "
                              class="col-11 col-lg-3 d-flex flex-column mb-lg-0 mb-3 pe-3 d-flex order-1 h-lg-100 justify-content-center">
                              <%= c.name %>
                                <div class="text-small text-muted text-truncate position">#<%= c._id %> </div>
                            </a>
                              <div
                                class="col-12 col-lg-2 d-flex flex-column pe-1 mb-2 mb-lg-0 align-items-start justify-content-center order-5">
                                <span class="badge bg-outline-primary group">AVAIALBLE</span>
                              </div>
                                  <div
                                    class="col-6 d-flex flex-column mb-2 mb-lg-0 align-items-end order-2 order-lg-last justify-content-lg-center">
                                    <label class="form-check mt-2">
                                       <a href="/admin/delete-category/<%= c._id %>" title="Remove">  <i data-cs-icon="error-circle"></i> </a>
                                    </label>
                                  </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% }) %>
                    <!-- Items Container Start -->

                    <!-- List Items End -->
              </div>
            </div>
            <!-- Items Pagination Start -->
            <div class="w-100 d-flex justify-content-center">
              <nav>
                <ul class="pagination">
                  <li class="page-item disabled">
                    <a class="page-link shadow" href="#" tabindex="-1" aria-disabled="true">
                      <i data-cs-icon="chevron-left"></i>
                    </a>
                  </li>
                  <li class="page-item active"><a class="page-link shadow" href="#">1</a></li>
                  <li class="page-item"><a class="page-link shadow" href="#">2</a></li>
                  <li class="page-item"><a class="page-link shadow" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link shadow" href="#">
                      <i data-cs-icon="chevron-right"></i>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
            <!-- Items Pagination End -->
          </div>
        </div>
      </main>

      <!-- Layout Footer Start -->
      <footer>
        <div class="footer-content">
          <div class="container">
            <div class="row">
              <div class="col-12 col-sm-6">
                <p class="mb-0 text-muted text-medium">Colored Strategies 2021</p>
              </div>
              <div class="col-sm-6 d-none d-sm-block">
                <ul class="breadcrumb pt-0 pe-0 mb-0 float-end">
                  <li class="breadcrumb-item mb-0 text-medium"><a href="#" class="btn-link">Review</a></li>
                  <li class="breadcrumb-item mb-0 text-medium"><a href="#" class="btn-link">Purchase</a></li>
                  <li class="breadcrumb-item mb-0 text-medium"><a href="#" class="btn-link">Docs</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- Layout Footer End -->
  </div>

  <!-- Theme Settings Modal Start -->
  <div class="modal fade modal-right scroll-out-negative" id="settings" data-bs-backdrop="true" tabindex="-1"
    role="dialog" aria-labelledby="settings" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable full" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Theme Settings</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <div class="scroll-track-visible">
            <div class="mb-5" id="color">
              <label class="mb-3 d-inline-block form-label">Color</label>
              <div class="row d-flex g-3 justify-content-between flex-wrap mb-3">
                <a href="#" class="flex-grow-1 w-50 option col" data-value="light-blue" data-parent="color">
                  <div class="card rounded-md p-3 mb-1 no-shadow color">
                    <div class="blue-light"></div>
                  </div>
                  <div class="text-muted text-part">
                    <span class="text-extra-small align-middle">LIGHT BLUE</span>
                  </div>
                </a>
                <a href="#" class="flex-grow-1 w-50 option col" data-value="dark-blue" data-parent="color">
                  <div class="card rounded-md p-3 mb-1 no-shadow color">
                    <div class="blue-dark"></div>
                  </div>
                  <div class="text-muted text-part">
                    <span class="text-extra-small align-middle">DARK BLUE</span>
                  </div>
                </a>
              </div>

              <div class="row d-flex g-3 justify-content-between flex-wrap mb-3">
                <a href="#" class="flex-grow-1 w-50 option col" data-value="light-red" data-parent="color">
                  <div class="card rounded-md p-3 mb-1 no-shadow color">
                    <div class="red-light"></div>
                  </div>
                  <div class="text-muted text-part">
                    <span class="text-extra-small align-middle">LIGHT RED</span>
                  </div>
                </a>
                <a href="#" class="flex-grow-1 w-50 option col" data-value="dark-red" data-parent="color">
                  <div class="card rounded-md p-3 mb-1 no-shadow color">
                    <div class="red-dark"></div>
                  </div>
                  <div class="text-muted text-part">
                    <span class="text-extra-small align-middle">DARK RED</span>
                  </div>
                </a>
              </div>

              <div class="row d-flex g-3 justify-content-between flex-wrap mb-3">
                <a href="#" class="flex-grow-1 w-50 option col" data-value="light-green" data-parent="color">
                  <div class="card rounded-md p-3 mb-1 no-shadow color">
                    <div class="green-light"></div>
                  </div>
                  <div class="text-muted text-part">
                    <span class="text-extra-small align-middle">LIGHT GREEN</span>
                  </div>
                </a>
                <a href="#" class="flex-grow-1 w-50 option col" data-value="dark-green" data-parent="color">
                  <div class="card rounded-md p-3 mb-1 no-shadow color">
                    <div class="green-dark"></div>
                  </div>
                  <div class="text-muted text-part">
                    <span class="text-extra-small align-middle">DARK GREEN</span>
                  </div>
                </a>
              </div>

              <div class="row d-flex g-3 justify-content-between flex-wrap mb-3">
                <a href="#" class="flex-grow-1 w-50 option col" data-value="light-purple" data-parent="color">
                  <div class="card rounded-md p-3 mb-1 no-shadow color">
                    <div class="purple-light"></div>
                  </div>
                  <div class="text-muted text-part">
                    <span class="text-extra-small align-middle">LIGHT PURPLE</span>
                  </div>
                </a>
                <a href="#" class="flex-grow-1 w-50 option col" data-value="dark-purple" data-parent="color">
                  <div class="card rounded-md p-3 mb-1 no-shadow color">
                    <div class="purple-dark"></div>
                  </div>
                  <div class="text-muted text-part">
                    <span class="text-extra-small align-middle">DARK PURPLE</span>
                  </div>
                </a>
              </div>

              <div class="row d-flex g-3 justify-content-between flex-wrap mb-3">
                <a href="#" class="flex-grow-1 w-50 option col" data-value="light-pink" data-parent="color">
                  <div class="card rounded-md p-3 mb-1 no-shadow color">
                    <div class="pink-light"></div>
                  </div>
                  <div class="text-muted text-part">
                    <span class="text-extra-small align-middle">LIGHT PINK</span>
                  </div>
                </a>
                <a href="#" class="flex-grow-1 w-50 option col" data-value="dark-pink" data-parent="color">
                  <div class="card rounded-md p-3 mb-1 no-shadow color">
                    <div class="pink-dark"></div>
                  </div>
                  <div class="text-muted text-part">
                    <span class="text-extra-small align-middle">DARK PINK</span>
                  </div>
                </a>
              </div>
            </div>

            <div class="mb-5" id="navcolor">
              <label class="mb-3 d-inline-block form-label">Override Nav Palette</label>
              <div class="row d-flex g-3 justify-content-between flex-wrap">
                <a href="#" class="flex-grow-1 w-33 option col" data-value="default" data-parent="navcolor">
                  <div class="card rounded-md p-3 mb-1 no-shadow">
                    <div class="figure figure-primary top"></div>
                    <div class="figure figure-secondary bottom"></div>
                  </div>
                  <div class="text-muted text-part">
                    <span class="text-extra-small align-middle">DEFAULT</span>
                  </div>
                </a>
                <a href="#" class="flex-grow-1 w-33 option col" data-value="light" data-parent="navcolor">
                  <div class="card rounded-md p-3 mb-1 no-shadow">
                    <div class="figure figure-secondary figure-light top"></div>
                    <div class="figure figure-secondary bottom"></div>
                  </div>
                  <div class="text-muted text-part">
                    <span class="text-extra-small align-middle">LIGHT</span>
                  </div>
                </a>
                <a href="#" class="flex-grow-1 w-33 option col" data-value="dark" data-parent="navcolor">
                  <div class="card rounded-md p-3 mb-1 no-shadow">
                    <div class="figure figure-muted figure-dark top"></div>
                    <div class="figure figure-secondary bottom"></div>
                  </div>
                  <div class="text-muted text-part">
                    <span class="text-extra-small align-middle">DARK</span>
                  </div>
                </a>
              </div>
            </div>

            <div class="mb-5" id="behaviour">
              <label class="mb-3 d-inline-block form-label">Menu Behaviour</label>
              <div class="row d-flex g-3 justify-content-between flex-wrap">
                <a href="#" class="flex-grow-1 w-50 option col" data-value="pinned" data-parent="behaviour">
                  <div class="card rounded-md p-3 mb-1 no-shadow">
                    <div class="figure figure-primary left large"></div>
                    <div class="figure figure-secondary right small"></div>
                  </div>
                  <div class="text-muted text-part">
                    <span class="text-extra-small align-middle">PINNED</span>
                  </div>
                </a>
                <a href="#" class="flex-grow-1 w-50 option col" data-value="unpinned" data-parent="behaviour">
                  <div class="card rounded-md p-3 mb-1 no-shadow">
                    <div class="figure figure-primary left"></div>
                    <div class="figure figure-secondary right"></div>
                  </div>
                  <div class="text-muted text-part">
                    <span class="text-extra-small align-middle">UNPINNED</span>
                  </div>
                </a>
              </div>
            </div>

            <div class="mb-5" id="layout">
              <label class="mb-3 d-inline-block form-label">Layout</label>
              <div class="row d-flex g-3 justify-content-between flex-wrap">
                <a href="#" class="flex-grow-1 w-50 option col" data-value="fluid" data-parent="layout">
                  <div class="card rounded-md p-3 mb-1 no-shadow">
                    <div class="figure figure-primary top"></div>
                    <div class="figure figure-secondary bottom"></div>
                  </div>
                  <div class="text-muted text-part">
                    <span class="text-extra-small align-middle">FLUID</span>
                  </div>
                </a>
                <a href="#" class="flex-grow-1 w-50 option col" data-value="boxed" data-parent="layout">
                  <div class="card rounded-md p-3 mb-1 no-shadow">
                    <div class="figure figure-primary top"></div>
                    <div class="figure figure-secondary bottom small"></div>
                  </div>
                  <div class="text-muted text-part">
                    <span class="text-extra-small align-middle">BOXED</span>
                  </div>
                </a>
              </div>
            </div>

            <div class="mb-5" id="radius">
              <label class="mb-3 d-inline-block form-label">Radius</label>
              <div class="row d-flex g-3 justify-content-between flex-wrap">
                <a href="#" class="flex-grow-1 w-33 option col" data-value="rounded" data-parent="radius">
                  <div class="card rounded-md radius-rounded p-3 mb-1 no-shadow">
                    <div class="figure figure-primary top"></div>
                    <div class="figure figure-secondary bottom"></div>
                  </div>
                  <div class="text-muted text-part">
                    <span class="text-extra-small align-middle">ROUNDED</span>
                  </div>
                </a>
                <a href="#" class="flex-grow-1 w-33 option col" data-value="standard" data-parent="radius">
                  <div class="card rounded-md radius-regular p-3 mb-1 no-shadow">
                    <div class="figure figure-primary top"></div>
                    <div class="figure figure-secondary bottom"></div>
                  </div>
                  <div class="text-muted text-part">
                    <span class="text-extra-small align-middle">STANDARD</span>
                  </div>
                </a>
                <a href="#" class="flex-grow-1 w-33 option col" data-value="flat" data-parent="radius">
                  <div class="card rounded-md radius-flat p-3 mb-1 no-shadow">
                    <div class="figure figure-primary top"></div>
                    <div class="figure figure-secondary bottom"></div>
                  </div>
                  <div class="text-muted text-part">
                    <span class="text-extra-small align-middle">FLAT</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn settings-button btn-gradient-primary" data-bs-toggle="modal"
    data-bs-target="#settings" id="settingsButton">
    <i data-cs-icon="paint-roller" class="position-relative"></i>
  </button>
  <!-- Theme Settings Modal End -->

  <!-- Search Modal Start -->
  <div class="modal fade modal-under-nav modal-search modal-close-out" id="searchPagesModal" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header border-0 p-0">
          <button type="button" class="btn-close btn btn-icon btn-icon-only btn-foreground" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body ps-5 pe-5 pb-0 border-0">
          <input id="searchPagesInput" class="form-control form-control-xl borderless ps-0 pe-0 mb-1 auto-complete"
            type="text" autocomplete="off" />
        </div>
        <div class="modal-footer border-top justify-content-start ps-5 pe-5 pb-3 pt-3 border-0">
          <span class="text-alternate d-inline-block m-0 me-3">
            <i data-cs-icon="arrow-bottom" data-cs-size="15" class="text-alternate align-middle me-1"></i>
            <span class="align-middle text-medium">Navigate</span>
          </span>
          <span class="text-alternate d-inline-block m-0 me-3">
            <i data-cs-icon="arrow-bottom-left" data-cs-size="15" class="text-alternate align-middle me-1"></i>
            <span class="align-middle text-medium">Select</span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- Search Modal End -->
</body>

</html>