<html>
<%- include('../includes/header.ejs') %>

  <body>
    <%- include('../includes/navigation.ejs') %>
      <main>

        <div class="main">
          <section class="module bg-dark-60 shop-page-header" data-background="/images/bookcollection.jpg">
            <div class="container">
              <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                  <h2 class="module-title font-alt">Shop Products</h2>
                  <div class="module-subtitle font-serif">A wonderful serenity has taken possession of my entire soul,
                    like these sweet mornings of spring which I enjoy with my whole heart.</div>
                </div>
              </div>
            </div>
          </section>
          <section class="module-small">
            <div class="container">
              <form class="row">
                <div class="col-sm-4 mb-sm-20">
                  <select class="form-control">
                    <option selected="selected">Default Sorting</option>
                    <option>Popular</option>
                    <option>Latest</option>
                    <option>Average Price</option>
                    <option>High Price</option>
                    <option>Low Price</option>
                  </select>
                </div>
                <div class="col-sm-2 mb-sm-20">
                  <select class="form-control">
                    <option selected="selected">Woman</option>
                    <option>Man</option>
                  </select>
                </div>
                <div class="col-sm-3 mb-sm-20">
                  <select class="form-control">
                    <option selected="selected">All</option>
                    <option>Coats</option>
                    <option>Jackets</option>
                    <option>Dresses</option>
                    <option>Jumpsuits</option>
                    <option>Tops</option>
                    <option>Trousers</option>
                  </select>
                </div>
                <div class="col-sm-3">
                  <button class="btn btn-block btn-round btn-g" type="submit">Apply</button>
                </div>
              </form>
            </div>
          </section>
          <hr class="divider-w">
          <section class="module-small">
            <div class="container">
              <div class="row multi-columns-row">
                <% for (let product of prods) { %>
                  <div class="col-sm-12 col-md-3 col-lg-3">
                    <% if (product.stock <= 0) {%>

                      <div class="shop-item">
                        <div class="shop-item-image"><img src="/<%= product.imageUrl[0] %>"
                            style="width: 300px; height: 400px;" alt="Accessories Pack" />
                          <h4 class="shop-item-title font-alt"><a href="/product/<%= product._id %>">
                              <%= product.title %>
                            </a></h4> OUT OF STOCK
                            </div>
                          </div>

                          <% } else {%>

                            <div class="shop-item">
                              <div class="shop-item-image"><img src="/<%= product.imageUrl[0] %>"
                                  style="width: 300px; height: 400px;" alt="Accessories Pack" />
                                <% if (isAuthenticated) { %>

                                  <div class="shop-item-detail"><%- include('../includes/add-to-cart.ejs',{product:
                                      product}) %>
                                      <%- include('../includes/add-to-wishlist.ejs',{product: product}) %> </div>

                                  <% } %>

                              </div>
                              <h4 class="shop-item-title font-alt"><a style="cursor: pointer;"
                                  href="/product/<%= product._id %>">
                                  <%= product.title %>
                                </a></h4>$<%= product.price %>

                            </div>
                            <% } %>
                        </div>
                        <% } %>
                      </div>

                      
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="pagination font-alt">
                            <% if (currentPage !==1 && previousPage !==1) {%>
                              <a href="/products?page=1">1</a>
                              <% } %>

                                <% if (hasPreviousPage) { %>
                                  <a href="/products?page=<%= previousPage %>">
                                    <%= previousPage %>
                                  </a>
                                  <% } %>

                                    <a class="active" href="/products?page=<%= currentPage %>">
                                      <%= currentPage %>
                                    </a>

                                    <% if (hasNextPage) { %>
                                      <a href="/products?page=<%= nextPage %>">
                                        <%= nextPage %>
                                      </a>
                                      <% } %>

                                        <% if (lastPage !==currentPage && nextPage !==lastPage) { %>
                                          <a href="/products?page=<%= lastPage %>">
                                            <%= lastPage %>
                                          </a>
                                          <% } %>


                          </div>
                        </div>
                      </div>
                  </div>

          </section>
          <%- include('../includes/footer.ejs') %>
      </main>
  </body>

</html>